# Flutter/Dart stuff
.dart_tool/
.packages
.pub/
.pub-cache/

# Build outputs
build/
!build/web/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Artifacts
*.apk
*.aab
*.ipa
*.so
*.lock
*.log

